<div class="widget-title-color-dark">
    <h1>Quizzes List</h1>
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Creation Date</th>
        <th>Validation Date</th>
        <th>Questions No.</th>
        <th>Time</th>
    </tr>
    <ng-container *ngFor="let quiz of quizzes; trackBy: trackByQuizId; let i=index">
    <tr *ngIf="quiz.NumberOfQuestions > 0">
        <td>
            <a [routerLink]="['/testee/quizViewer', quiz.Id]">Attempt</a> 
        </td>
        <td>{{quiz.Id}}</td>
        <td>{{quiz.Name}}</td>
        <td>{{quiz.CreationDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{quiz.ValidationDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{quiz.NumberOfQuestions}}</td>
        <td>{{quiz.Time}}</td>
    </tr>
</ng-container>
    <tr *ngIf="!quizzes">
        <td colspan="7">{{ statusMessage }}</td>
    </tr>
    <tr *ngIf="quizzes && quizzes.length==0">
        <td colspan="7">No data to display</td>
    </tr>
</table>
<div>
    <button class="btn btn-default" (click)='getQuizzes()'>Refresh List</button>
</div>