<div class="widget-title-color-dark">
    <h1>Edit Quiz</h1>
</div>
<div class="container">
    <form #editQuestionForm="ngForm" >
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Quiz Name</label>
                    <input id="name" name="name" [(ngModel)]='quiz.Name' class="form-control" type="text" required minlength="4" maxlength="50"
                        formName='name' #name='ngModel' [disabled]='addQuezzesButtonEnableStatus'>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="name.errors.maxlength">
                            Name must be at most 50 characters long.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Validation Date</label>
                    <input id="validationDate" name="validationDate" [ngModel] = "quiz.ValidationDate | date:'yyyy-MM-dd'" (ngModelChange)="quiz.ValidationDate = $event" class="form-control" type="date" required
                        formName='validationDate' #validationDate='ngModel' [disabled]='addQuezzesButtonEnableStatus'>
                    <div *ngIf="validationDate.invalid && (validationDate.dirty || validationDate.touched)" class="alert alert-danger">
                        <div *ngIf="validationDate.errors.required">
                            Date is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Time</label>
                    <input id="time" name="time" [(ngModel)]='quiz.Time' class="form-control" type="number" min="1" required
                     formName='time' #time='ngModel' [disabled]='addQuezzesButtonEnableStatus'>
                    <div *ngIf="time.invalid && (time.dirty || time.touched)" class="alert alert-danger">
                        <div *ngIf="time.errors.required">
                            Time is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" [disabled]='!editQuestionForm.form.valid || isLocked' (click)='save()'>Save</button>
                <button class="btn btn-default" [disabled]='isLocked' (click)='editQuestions()'>Edit Questions</button>
                <button class="btn btn-default" (click)='listQuizzes()'>Quizzes List</button>
            </div>
        </div>
    </form>
</div>