<div class="widget-title-color-dark">
        <h1>Quizzes List</h1>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Validation Date</th>
            <th>Questions No.</th>
            <th>Time</th>
        </tr>
        <tr *ngFor="let quiz of quizzes; trackBy: trackByQuizId; let i=index">
            <td>
                <a [routerLink]="['/admin/quizEditor', quiz.Id]">Edit</a> | 
                <a style="cursor: pointer" (click)='deleteQuiz(quiz.Id)'>Delete</a>
                <!--<button class="btn-link" (click)='deleteQuiz()'>Delete</button>-->
            </td>
            <td>{{quiz.Id}}</td>
            <td>{{quiz.Name}}</td>
            <td>{{quiz.CreationDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{quiz.ValidationDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{quiz.NumberOfQuestions}}</td>
            <td>{{quiz.Time}}</td>
        </tr>
        <tr *ngIf="!quizzes">
            <td colspan="7">{{ statusMessage }}</td>
        </tr>
        <tr *ngIf="quizzes && quizzes.length==0">
            <td colspan="7">No data to display</td>
        </tr>
    </table>
    <div>
        <button class="btn btn-default" (click)='createQuiz()'>New Quiz</button>
        <button class="btn btn-default" (click)='getQuizzes()'>Refresh List</button>
    </div>