<div class="widget-title-color-dark">
    <h1>Quiz Viewer</h1>
</div>
<div class="container">
    <form #viewQuizForm="ngForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Question</label>
                    <textarea id="questionText" name="questionText" [(ngModel)]='question.QuestionText' [readonly]='true' class="form-control" rows="5"
                        minlength="5" formName='questionText' #questionText='ngModel'></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #1</label>
                    <input id="choice1" name="choice1" [readonly]='true' [(ngModel)]='question.Choice1' class="form-control" type="text" formName='choice1' #choice1='ngModel'>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice1Answer" name ="choice1Answer" [disabled]='isLocked' type="checkbox" [(ngModel)]='answer.Choice1' value="" >Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #2</label>
                    <input id="choice2" name="choice2" [readonly]='true' [(ngModel)]='question.Choice2' class="form-control" type="text" formName='choice2' #choice2='ngModel'>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice2Answer" name ="choice2Answer" [disabled]='isLocked' type="checkbox" [(ngModel)]='answer.Choice2' value="" >Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="question.Choice3 != null">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #3</label>
                    <input id="choice3" name="choice3" [readonly]='true' [(ngModel)]='question.Choice3' class="form-control" type="text" formName='choice3' #choice3='ngModel'>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice3Answer" name ="choice3Answer" type="checkbox" [disabled]='isLocked' [(ngModel)]='answer.Choice3' value="">Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="question.Choice4 != null">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #4</label>
                    <input id="choice4" name="choice4" [readonly]='true' [(ngModel)]='question.Choice4' class="form-control" type="text" formName='choice4' #choice4='ngModel'>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice4Answer" name ="choice4Answer" [disabled]='isLocked' type="checkbox" [(ngModel)]='answer.Choice4' value="" >Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Question: ( {{currentQuestionIndex + 1}} ) of ( {{ids.length}} )</label>
            </div>
            <div class="col-md-2">
                <label *ngIf='!ids'>Question ID#: ( {{ids[currentQuestionIndex]}} ) </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" [disabled]='!backButtonEnableStatus || !viewQuizForm.form.valid || isLocked' (click)='back(); viewQuizForm.reset(); '>Back</button>
                <button class="btn btn-default" [disabled]='!nextButtonEnableStatus || !viewQuizForm.form.valid || isLocked' (click)='next(); viewQuizForm.reset(); '>Next</button>
                <button class="btn btn-default" [disabled]='isLocked'(click)='endQuiz()'>End Quiz</button>
            </div>
        </div>
    </form>
</div>