<div class="widget-title-color-dark">
    <h1>Your Score is: {{score}} </h1>
</div>
<div>
    <button class="btn btn-default" (click)='refresh()'>Refresh</button>
    <button class="btn btn-default" (click)='backToAssignedQuizzes()'>Back to Available Quizzes</button>
</div>