<div class="widget-title-color-dark">
    <h1>Questions Editor</h1>
</div>
<div class="container">
    <form #editQuestionForm="ngForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Question</label>
                    <textarea id="questionText" name="questionText" [(ngModel)]='question.QuestionText' [disabled]='isLocked' class="form-control" rows="5" required
                        minlength="5" formName='questionText' #questionText='ngModel'></textarea>
                    <div *ngIf="questionText.invalid && (questionText.dirty || questionText.touched)" class="alert alert-danger">
                        <div *ngIf="questionText.errors.required">
                            Question is required.
                        </div>
                        <div *ngIf="questionText.errors.minlength">
                            Question must be at least 5 characters long.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #1</label>
                    <input id="choice1" name="choice1" [disabled]='isLocked' [(ngModel)]='question.Choice1' class="form-control" type="text" formName='choice1' #choice1='ngModel'
                        required>
                    <div *ngIf="choice1.invalid && (choice1.dirty || choice1.touched)" class="alert alert-danger">
                        <div *ngIf="choice1.errors.required">
                            Choice #1 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice1Answer" name ="choice1Answer" [disabled]='isLocked' type="checkbox" [(ngModel)]='question.IsChoice1Correct' value="" >Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #2</label>
                    <input id="choice2" name="choice2" [disabled]='isLocked' [(ngModel)]='question.Choice2' class="form-control" type="text" formName='choice2' #choice2='ngModel'
                        required>
                    <div *ngIf="choice2.invalid && (choice2.dirty || choice2.touched)" class="alert alert-danger">
                        <div *ngIf="choice2.errors.required">
                            Choice #2 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice2Answer" name ="choice2Answer" [disabled]='isLocked' type="checkbox" [(ngModel)]='question.IsChoice2Correct' value="" >Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #3</label>
                    <input id="choice3" name="choice3" [disabled]='isLocked' [(ngModel)]='question.Choice3' class="form-control" type="text" formName='choice3' #choice3='ngModel'>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice3Answer" name ="choice3Answer" type="checkbox" [disabled]='isLocked' [(ngModel)]='question.IsChoice3Correct' value="">Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Choice #4</label>
                    <input id="choice4" name="choice4" [disabled]='isLocked' [(ngModel)]='question.Choice4' class="form-control" type="text" formName='choice4' #choice4='ngModel'>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label><input id="choice4Answer" name ="choice4Answer" [disabled]='isLocked' type="checkbox" [(ngModel)]='question.IsChoice4Correct' value="" >Correct Answer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Question: ( {{currentQuestionIndex + 1}} ) | Saved Questions: ( {{ids.length}} )</label>
            </div>
            <div class="col-md-2">
                <label *ngIf='!ids'>Question ID#: ( {{ids[currentQuestionIndex]}} ) </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" [disabled]='!backButtonEnableStatus || !editQuestionForm.form.valid || isLocked' (click)='back(); editQuestionForm.reset(); '>Back</button>
                <button class="btn btn-default" [disabled]='!nextButtonEnableStatus || !editQuestionForm.form.valid || isLocked' (click)='next(); editQuestionForm.reset(); '>Next</button>
                <button class="btn btn-default" [disabled]='!deleteButtonEnableStatus || isLocked' (click)='deleteQuestion(); editQuestionForm.reset()'>Delete</button>
                <button class="btn btn-default" [disabled]='isLocked' (click)='cancel()'>Cancel</button>
                <button class="btn btn-default" (click)='backToQuizEditor()'>Back to Quiz Editor</button>
            </div>
        </div>
    </form>
</div>