<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link href="/css/site.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/testee/assignedQuizzes" routerLinkActive="active">Quiz System</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/testee/assignedQuizzes" routerLinkActive="active">Available Quizzes</a></li>
                    <li><a (click)='logOut()' style="cursor: pointer">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div *ngIf='showStatus' [ngClass]="statusClass">
                <button class="close" data-close="alert"></button>
                <span> {{ statusMessage }} </span>
            </div>
            <router-outlet></router-outlet>
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - Ahmed Jafar</p>
        </footer>
    </div>
</body>

</html>